
<!doctype html>

<html>

<head>

  <link rel="stylesheet" type="text/css" href="<%= url("css/stylesheet.css")%>">


</head>

<body>


<div class="wrap-rsp">
  <img src="<%= url("css/img/rps.png")%>" alt="">
</div>

<div class="wrap">
  <div class="wrap-logo">
    <img src="<%= url("css/img/bansai.png")%>" alt="">
  </div>
<div class="content">
<form action="/name" method="post">
  <label for="human_name">
    <input type="text" class="player-name" name="human_name" placeholder="name san">
  </lable>
  <input type="submit" class="input-submit" value="Submit">
</form>
</div>
</div>

</body>


</html>
